<div class="laber-social-link socials clearfix">
<ul class="list-socials ">
  {% if settings.footer_social_twitter_enable %}
  <li class="twitter">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}">
      <i class="fab fa-twitter"></i>
      <span class="alo_tooltip-content">Twitter</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_facebook_enable %}
  <li class="facebook">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}">
      <i class="fab fa-facebook-f"></i>
      <span class="alo_tooltip-content">Facebook</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_google_enable %}
  <li class="google">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_google_link}}" title="{{settings.footer_social_google_text}}">
      <i class="fab fa-google" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Google</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_pinterest_enable %}
  <li class="pinterest">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_pinterest_link}}" title="{{settings.footer_social_pinterest_text}}">
      <i class="fab fa-pinterest-p" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Pinterest</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_instargram_enable %}
  <li class="instagram">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}">
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if settings.footer_social_tumblr_enable %}
  <li class="tumblr">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_tumblr_link}}" title="{{settings.footer_social_tumblr_text}}">
      <i class="fab fa-tumblr" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Tumblr</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_snapchat_enable %}
  <li class="snapcha">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_snapchat_link}}" title="{{settings.footer_social_snapchat_text}}">
      <i class="fab fa-snapchat-ghost" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Snapcha</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_youtube_enable %}
  <li class="youtube">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_youtube_link}}" title="{{settings.footer_social_youtube_text}}">
      <i class="fab fa-youtube"></i>
      <span class="alo_tooltip-content">Youtube</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_vimeo_enable %}
  <li class="vimeo">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.footer_social_vimeo_text}}">
      <i class="fab fa-vimeo" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Vimeo</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_tiktok_enable %}
  <li class="tiktok">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_tiktok_link}}" title="{{settings.footer_social_tiktok_text}}">
      <i class="fab fa-tiktok"></i>
      <span class="alo_tooltip-content">TikTok</span>
    </a>
  </li>
  {% endif %}
  
</ul>
</div>