<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
    {% include 'google-fonts' %}
    {{ content_for_header }}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    
  {{ 'style.pre_theme.css' | asset_url | stylesheet_tag }}	
<link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
  {{ 'dukamarket.css' | asset_url | stylesheet_tag}} 
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>
{% style %}
:root {
  --color-bg-body:{{settings.color_body_bg}};
  --color-text-body:{{settings.color_body_text}};
  --color-main: {{settings.color_main}};
  --color-link: {{settings.color_link}};
  --color-link-hover: {{settings.color_link_hover}};
  
  --color-scrollbar: {{settings.color_scrollbar}};  
  /*================ Butoom ================*/
  --color-btn-text:{{settings.color_btn_text }};
  --color-btn:{{settings.color_btn }};
  --color-btn-text_hover:{{settings.color_btn_text_hover }};
  --color-btn-hover:{{settings.color_btn_hover }};
  }
  {%- assign show_cusotm_width = settings.show_cusotm_width -%}
  {%- assign cusotm_width = settings.cusotm_width -%} 
  {%if show_cusotm_width%}  
  @media (min-width: {{cusotm_width}}){
  .container {
  max-width: {{cusotm_width}};
  }
} 
{%endif%} 
{% endstyle %}
  <body class="template-password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
