{% liquid
  assign sid = section.id 
  assign layout = section.settings.layout
  assign collection = section.settings.collection 
  assign se_blocks = section.blocks
  assign se_size = se_blocks.size
  assign style_layout =  section.settings.style_layout
  assign num_p_qty =  section.settings.num_p_qty
  
%}
  
{%- for i in (1..1) -%}  
<section id="laber_{{sid}}" class="cat_size_{{se_size}} pad-{{ section.settings.pad }}">
  <div class="{%if layout == 'full-width' %}{{layout}}{% else %}container{%endif%}" >   
    {% if section.settings.title != blank %}
		<div class="wrap_title {{ section.settings.text_size }}">
		  {% if section.settings.title != blank %}
		  <h3 class="section-title">{{section.settings.title}}</h3>  
		  {% endif %}
		</div>
    {% endif %}
    <div class="row">
        {%- for block in section.blocks -%}
            {% case block.settings.col %}
                  {% when '16%' %}
                      {%- assign block_width = 'col-lg-2 col-md-2 col-12' -%}
                  {% when '25%' %}
                      {%- assign block_width = 'col-lg-3 col-md-3 col-12' -%}
                  {% when '33%' %}
                      {%- assign block_width = 'col-lg-4 col-md-4 col-12' -%}
                  {% when '42%' %}
                      {%- assign block_width = 'col-lg-5 col-md-5 col-12' -%}
                  {% when '50%' %}
                      {%- assign block_width = 'col-lg-6 col-md-6 col-12' -%}
                  {% when '58%' %}
                      {%- assign block_width = 'col-lg-7 col-md-7 col-12' -%}
                  {% when '66%' %}
                      {%- assign block_width = 'col-lg-8 col-md-8 col-12' -%}
                  {% when '75%' %}
                      {%- assign block_width = 'col-lg-9 col-md-9 col-12' -%}
                  {% when '100%' %}
                      {%- assign block_width = 'col-12' -%}
              {% endcase %}
      		<article class="cate-item {{ block_width }}"> 
              {%- render 'cat-grid-item',block:block,num_p_qty:num_p_qty,for_i:se_size -%}
            </article> 
          {%- endfor -%}
      
    </div>
  </div>
</section>
{%- render 'section_style' -%}
{%- endfor -%}


{%- schema -%}
  {
    "name": "Collection featured grid",
    "class": "collection_grid cms_section type_collection_grid zoom_img",
    "max_blocks": 6,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      
            {
        "type": "select",
        "id": "text_size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "small"
         },
         {
            "value": "medium",
            "label": "Medium"
         },
         {
            "value": "large",
            "label": "Large"
          }
        ],
        "label": "Text size"
      },

      {
          "type": "range",
          "id": "border",
          "label": "Border",
          "default": 5,
          "min": 0,
          "max": 20,
          "step": 5,
          "unit": "px"
          },
      {
        "type": "header",
        "content": "== Design Options"
      },      
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
	  {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
      {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      }
	
    ],
    "blocks": [
      
	{
    "type": "collection",
    "name": "Collection",
    "settings": [
      {
        "type": "select",
        "id": "col",
        "default": "100%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image",
		 "info":"Dimension: 600px x 360px"
       },     
      {
        "type": "text",
        "id": "title",
        "label": "Title block (optional)",
        "info": "Leave empty to use 'collection title' title."
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default":"Explore the vast universe inside Apple."
      },
          {
          "type": "range",
          "id": "mg_bottom",
          "label": "Margin bottom",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px"
          }
      ]
    }
],
    "presets": [
      {
        "name": "Collection featured grid",
        "category": "Collections",
        "blocks": [
          { "type": "collection" },{ "type": "collection" },{ "type": "collection" }, { "type": "collection" },{ "type": "collection" },{ "type": "collection" }
          
        ]
      }
    ]
  }
{% endschema %}
